.main {
  margin: 20px 0 0 0 ;
  align-items: center;
}


.links {
  display: flex;
  justify-content: center;
}

.item{
  margin: 0 10px;
}

.link {
  text-decoration: none;
  color: #61dafb;
  font-size: 22px;
}
.link:hover{
  text-decoration: underline;
  transition: all 0.3s ease;
}
.active{
  text-decoration: underline;
}